 li {
   list-style-type: none;

 }

 li div {
   background: linear-gradient(to right, #880daf, #b91f91);
   width: 150px;
   height: 70px;
   border-radius: 7px;
   color: azure;
   font-weight: bold;
   box-shadow: 1px 1px 5px 1px black;
 }

 ul {
   display: flex;
   justify-content: space-around;
   gap: 100px;
   padding: 5px;

 }

 h1 {
   text-align: center;
 }

 .Card {
   width: 80%;
   margin: 30px auto;
 }

 * {
   text-align: center;
 }

 textarea {
   width: 90%;
   border-radius: 5px;
   border-color: #518bd2;
 }

 :placeholder-shown {
   text-align: left;
 }

 .wordcounter {
   background: linear-gradient(to right, #e1d0e9, #f3b6b9db);
   width: 70%;
   margin: auto;
   position: relative;
 }

 button {
   padding: 5px;
   margin: 5px;
   border-radius: 8px;
   border: none;
   background-color: #8e34e2;
   color: azure;
   font-weight: bold;
   box-shadow: 1px 1px 5px 1px black;
 }

 button:hover {
   background-color: palegreen;
   color: black;
 }