* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
}
.container-app {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #e002ec68, #f3b6b9db);
}
.container-header {
  width: 100%;
  height: 900px;
  background: linear-gradient(to right, #e002ec68, #f3b6b9db);
  text-align: center;
  align-items: center;
}
.title {
  padding: 100px;
}
.container-count {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  width: 150px;
  height: 100px;
  background: linear-gradient(to right, #7d0ab8, #c2228c);
  margin: 35px;
  font-size: 25px;
  padding: 20px;
  font-weight: 1000;
  color: aliceblue;
  border-radius: 10px;
}
.input-word {
  margin-top: 50px;
}
.input {
  border-radius: 10px;
  padding: 10px;
  outline: 1px solid blue;
}
.footer {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.btn {
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(167, 101, 230);
  padding: 20px;
  border-radius: 10px;
  font-weight: 800;
}
